@import "reset.less";
@import "fonts.less";
@import "texts.less";

@pink: 			#f659b2;
@blue_dark: 	#6197c5;
@blue: 			#97CFFF;
@green: 		#8cb465;

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Circe-font';
	font-weight: 400;
	font-size: 18px;
	color: #333;
	background: #fff;
}
.wrapper(){
	clear: both;
	display: block;
	overflow: hidden;
	width: 100%;
	min-width: 1090px;
	&-in {
		clear: both;
		display: block;
		overflow: hidden;
		width: 1090px;
		margin: auto;
	}
}
.wrapper-in(){
	clear: both;
	display: block;
	overflow: hidden;
	width: 1090px;
	margin: auto;
}



header {
	.wrapper();
	position: relative;
	height: 345px;
	background: #fff url('../img/bg_cloud.jpg') center top no-repeat;
}
.header {
	.wrapper-in();
	padding: 30px 0;
	&__logo {
		display: inline-block;
		font-size: 39px;
		font-weight: 900;
		letter-spacing: -1px;
		line-height: 39px;
		padding: 0 10px 0 110px;
		color: @pink;
		position: relative;
		& .color {
			color: @blue_dark;
		}
		& .small {
			float: right;
			font-size: 18px;
			line-height: 18px;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 0;
		}
		&:before {
			content: '';
			display: block;
			vertical-align: middle;
			width: 100px;
			height: 75px;
			position: absolute;
			top: 50%;
			left: 0;
			-webkit-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
			background: url('../img/header_logo.svg') 0 0 no-repeat;
		}
	}
}

.slogan {
	.wrapper-in();
	padding: 60px 0 50px 0;
	overflow: visible;
	text-align: center;
	&__text {
		clear: both;
		display: inline-block;
		color: @blue_dark;
		font-weight: 900;
		text-transform: uppercase;
		position: relative;
		text-align: left;
		& .small {
			text-align: left;
			display: inline-block;
			width: 385px;
			text-align: right;
			font-size: 30px;
			line-height: 30px;
			text-shadow: 4px 4px 0 #dde9f3;
		}
		& .midle {
			text-align: left;
			display: inline-block;
			font-size: 68px;
			line-height: 68px;
			text-shadow: 5px 5px 0 #dde9f3;
		}
		& .big {
			display: inline-block;
			vertical-align: top;
			margin-top: -70px;
			line-height: 120px;
			font-size: 120px;
			text-shadow: 5px 5px 0 #dde9f3;
		}
	}
}